.card_div2{
    .tymbooker_name{
        width : 100%;
    }

    .img{
      
        padding-top: 5%;
        margin:auto;
        border-radius: 200%;
    }
    .lab{
       text-align: center;
       background-color: black;
       font-size: 25px;
       height : 50px;
       font-weight: 1220;
       font-family: 'Times New Roman', Times, serif;
    }
    .cont{
        text-align: center;
        background-color: rgb(233, 78, 78);
        color: darkslategray;
        font-size:49px;
        height : 50px;
       
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;   
     }
}
 